# foreign
[submodule "foreign/vim-janus"]
  path = foreign/vim-janus
  url = https://github.com/carlhuda/janus.git
[submodule "foreign/grml-etc-core"]
  path = foreign/grml-etc-core
  url = https://github.com/grml/grml-etc-core
[submodule "foreign/dotgdb"]
  path = foreign/dotgdb
  url = https://github.com/dholm/dotgdb.git
[submodule "foreign/isis-scripts"]
	path = foreign/isis-scripts
  url = https://github.com/isislovecruft/scripts.git
[submodule "foreign/smcfancontrol"]
	path = foreign/smcfancontrol
	url = https://github.com/hholtmann/smcFanControl.git
[submodule "foreign/boringssl"]
	path = foreign/boringssl
	url = https://boringssl.googlesource.com/boringssl
[submodule "foreign/openssl"]
	path = foreign/openssl
	url = https://github.com/openssl/openssl.git
[submodule "foreign/vix"]
  path = foreign/vix
  url = https://github.com/BatchDrake/vix.git
[submodule "foreign/peco"]
	path = foreign/peco
	url = https://github.com/peco/peco.git
[submodule "foreign/teamocil"]
	path = foreign/teamocil
	url = https://github.com/remiprev/teamocil.git
[submodule "foreign/tmuxomatic"]
	path = foreign/tmuxomatic
	url = https://github.com/oxidane/tmuxomatic
[submodule "foreign/tmux-resurrect"]
	path = foreign/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "foreign/fzf"]
	path = foreign/fzf
	url = https://github.com/junegunn/fzf

# personal
[submodule ".mutt"]
  path = .mutt
  url = git@github.com:azet/muttrc.git
[submodule "foreign/dateutils"]
	path = foreign/dateutils
	url = https://github.com/hroptatyr/dateutils.git
[submodule "foreign/git-stats"]
	path = foreign/git-stats
	url = git@github.com:IonicaBizau/git-stats.git
[submodule "foreign/perf-tools"]
	path = foreign/perf-tools
	url = git@github.com:brendangregg/perf-tools.git
[submodule "foreign/FlameGraph"]
	path = foreign/FlameGraph
	url = git@github.com:brendangregg/FlameGraph.git
