# settings
[user]
  name = Aaron Zauner
  email = azet@azet.org
  signingkey = 0xFDB9B5D5
[core]
  abbrev = 12 # LKLM-style
  autocrlf = input
  whitespace = blank-at-eol,blank-at-eof,space-before-tab,tab-in-indent,cr-at-eol,trailing-space
  pager = delta
[push]
  default = current
[commit]
#  gpgsign = true
[http]
  sslVerify
[diff]
  algorithm = patience
[interactive]
  diffFilter = delta --color-only
[delta]
#  side-by-side = true
  navigate = true  # use n and N to move between diff sections
  dark = true      # or light = true, or omit for auto-detection
[merge]
  tool = smerge 
  conflictStyle = zdiff3
[pretty]
  fixes = Fixes: %h (\"%s\")

# colors
[color]
  ui = auto
[color "branch"]
  meta = reverse blue white
  local = yellow
  remote = green
[color "diff"]
  meta = bold yellow
  frag = bold blue
  new = yellow
  old = green
  whitespace = reverse white dim
[color "status"]
  added = reverse yellow
  changed = yellow
  untracked = ul cyan
  branch = cyan
