# foreign
[submodule "foreign/vim-janus"]
  path = foreign/vim-janus
  url = https://github.com/carlhuda/janus.git
[submodule "foreign/grml-etc-core"]
  path = foreign/grml-etc-core
  url = https://github.com/grml/grml-etc-core
[submodule "foreign/dotgdb"]
  path = foreign/dotgdb
  url = https://github.com/dholm/dotgdb.git

# personal
[submodule ".mutt"]
  path = .mutt
  url = git@github.com:azet/muttrc.git
