[core]
  autocrlf = true
  whitespace = blank-at-eol,blank-at-eof,space-before-tab,tab-in-indent
[user]
  name = Aaron Zauner
  email = azet@azet.org
  signingkey = 0xFDB9B5D5
[push]
  default = current
[http]
  sslVerify
[color]
  ui = auto

