# foreign
[submodule "foreign/vim-janus"]
  path = foreign/vim-janus
  url = https://github.com/carlhuda/janus.git
[submodule "foreign/grml-etc-core"]
  path = foreign/grml-etc-core
  url = https://github.com/grml/grml-etc-core
[submodule "foreign/dotgdb"]
  path = foreign/dotgdb
  url = https://github.com/dholm/dotgdb.git
[submodule "foreign/isis-scripts"]
	path = foreign/isis-scripts
  url = https://github.com/isislovecruft/scripts.git
[submodule "foreign/smcfancontrol"]
	path = foreign/smcfancontrol
	url = https://github.com/hholtmann/smcFanControl.git
[submodule "foreign/boringssl"]
	path = foreign/boringssl
	url = https://boringssl.googlesource.com/boringssl
[submodule "foreign/openssl"]
	path = foreign/openssl
	url = https://github.com/openssl/openssl.git
[submodule "foreign/kevinrenskes-dotfiles"]
	path = foreign/kevinrenskes-dotfiles
  url = https://github.com/kevinrenskers/dotfiles.git

# personal
[submodule ".mutt"]
  path = .mutt
  url = git@github.com:azet/muttrc.git

